<% content_for :back_path, root_path %>
<% content_for :page_name, "Create Group" %>
<% content_for :nav_button do %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
<div class='new-group'>
  <%= form_with(model: @group) do |form| %>
    <h1> Create Group </h1>
    <div>
      <%= form.label :icon %>
      <%= form.text_field :icon, required: true, pattern: "^(http|https)://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/.*)?$" %>
    </div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <%= form.submit "Create" %>
  <% end %>
</div>