<% content_for :back_path, root_path %>
<% content_for :page_name, "Transaction" %>
<% content_for :nav_button do %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
<div class="new-product">
  <%= form_with(model: ([@group, @product])) do |form| %>
    <h1>Create Transaction</h1>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :amount %>
      <%= form.number_field :name %>
    </div>
    <%= form.hidden_field :group_ids, value:[@group] %>
    <%= form.submit "Create" %>
  <% end %>
</div>